<!-- from https://stripe.com/docs/payments/cards/saving-cards-after-payment#create-payment-intent -->
<input id="cardholder-name" type="text">
<!-- placeholder for Elements -->
<div id="card-element"></div>
<button id="card-button" data-secret="{{ client_secret }}">
  Submit Payment
</button>